@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
    font-family: 'Shantell Sans', cursive;
    scroll-behavior: smooth;
}

body {
    background-color: #101010;
}

header {
    background: rgb(246,187,43);
    background: linear-gradient(90deg, rgba(246,187,43,1) 0%, rgba(226,102,110,1) 50%, rgba(0,170,239,1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-right: 20px;
    color: black;
    font-weight: bold;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.header-divisor {
    display: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    position: relative;
    top: 10%;
    text-decoration: underline;
    cursor: pointer;
}

#logo {
    margin-left: 25px;
    width: 70px;
}

#apresentation {
    padding: 10px;
    color: white;
}

#apresentation #main {
    background: rgb(246,187,43);
    background: linear-gradient(90deg, rgba(246,187,43,1) 0%, rgba(226,102,110,1) 50%, rgba(0,170,239,1) 100%);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

#apresentation #main #text p {
    width: 100%;
    text-align: start;
    font-size: 20px;
}

#apresentation #main #text {
    padding: 20px;
    width: 50%;
}

#apresentation #main #text h1 {
    color: #101010;
    margin-bottom: 20px;
}

#apresentation img {
    width: 300px;
}

#evento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#evento h1 {
    color: #f6bb2b;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#evento p {
    font-size: 20px;
    text-align: center;
    width: 80vw;
}

#evento h2 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#local {
    margin-top: 30px;
    padding-bottom: 20px;
    color: white;
    border-radius: 10px;
    width: 97vw;
    background: rgb(226,102,110);
    background: radial-gradient(circle, rgba(226,102,110,1) 0%, #f6bb2b 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mapouter {
    margin-top: 30px;
    position:relative;
    text-align:right;
    height:400px;
    width:75vw;
}

.gmap_canvas {
    border-radius: 10px;
    overflow:hidden;
    background:none!important;
    height:100%;
    width:100%;
}

#datetime {
    font-size: 200px;
}

#inscricoes {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#inscricoes #title {
    color: #f6bb2b;
    font-size: 40px;
}

.card-preco {
    width: 90vw;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#div-align {
    width: 66%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.card-preco .preco-bom {
    color: black;
    background-color: #81cb71;
    padding: 10px;
    border-radius: 20px;
    width: 45%;
}

.card-preco .preco-ruim{
    color: black;
    background-color: #e2666e;
    padding: 10px;
    border-radius: 20px;
    width: 45%;
}

#preco {
    font-size: 30px;
}

#btn-inscrever {
    text-decoration: none;
    margin-top: 40px;
    background: rgb(246,187,43);
    background: linear-gradient(90deg, rgba(246,187,43,1) 0%, rgba(226,102,110,1) 50%, rgba(0,170,239,1) 100%);
    color: white;
    width: 40vw;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#btn-inscrever:hover{
    cursor: pointer;
    background-color: #f6bb2b;
}

#palestras {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
}

#palestras #title {
    font-size: 40px;
    color: #f6bb2b;
}

#palestras #main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-perfil {
    background: rgb(246,187,43);
    background: linear-gradient(90deg, rgba(246,187,43,1) 0%, rgba(226,102,110,1) 50%, rgba(0,170,239,1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 40px;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
}

.card-perfil img {
    width: 300px;
}

.text-perfil {
    width: 40%;
    text-align: center;
}

#programacao #title {
    margin-bottom: 10px;
    font-size: 40px;
    color: #f6bb2b;
    text-align: center;
}

#programacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
}

#programacao #main {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    width: 100%;
}

#programacao .time-info {
    background: none;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
}

footer {
    height: 50px;
    background: rgb(246,187,43);
    background: linear-gradient(90deg, rgba(246,187,43,1) 0%, rgba(226,102,110,1) 50%, rgba(0,170,239,1) 100%);
}

#programacao .time-info p {
    color: white;
    text-align: center;
}

#regras {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
}

#regras #title {
    text-align: center;
    font-size: 40px;
    color: #f6bb2b;
}

#regras #main {
    background-color: #202020;
    border-radius: 20px;
    padding: 10px;
}

#area-inscricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#bt-fazer-inscricao {
    border: none;
    text-decoration: none;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 40px;
    border-radius: 10px;
    width: 70vw;
    background: rgb(246,187,43);
    background: linear-gradient(90deg, rgba(246,187,43,1) 0%, rgba(226,102,110,1) 50%, rgba(0,170,239,1) 100%);
}

@media screen and (max-width: 700px){
    header {
        flex-direction: column;
        gap: 40px;
    }
    #logo {
        width: 150px;
    }
    nav {
        flex-direction: column;
        gap: 10px;
    }
    nav a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 80vw;
        height: 40px;
    }
    nav a:hover{
        text-decoration: none;
    }

    #apresentation #main {
        flex-direction: column;
        justify-content: center;
    }

    #apresentation #main #text {
        width: 100%;
    }

    #apresentation #main #text h1 {
        text-align: center;
    }

    #apresentation #main #text p {
        text-align: center;
        width: 90%;
        font-size: 25px;
    }

    #evento h1 {
        text-align: center;
    }

    .header-divisor {
        border-color: #101010;
        display: flex;
        width: 80vw;
    }
    .mapouter {
        width: 95vw;
    }
    .card-preco {
        flex-direction: column;
        gap: 10px;
    }
    #div-align {
        width: 100%;
    }
    .card-preco .preco-ruim {
        width: 100%;
    }
    .card-preco .preco-bom {
        width: 100%;
    }
    #btn-inscrever {
        width: 80vw;
    }
    #palestras #main .card-perfil .text-perfil {
        width: 90vw;
    }
    #programacao .time-info {
        background: none;
        background-color: black;
        flex-direction: column;
    }
}